# üßæ Exploratory Data Analysis (EDA) - Sellers

This notebook performs a complete EDA on the **Sellers** dataset, including:

- General overview of the dataset  
- Basic data cleaning  
- Summary statistics  
- Visualization of numerical and categorical variables

Postgre sql connection set up

In [1]:
import psycopg2
try:
    conn = psycopg2.connect(
        host="localhost",
        database="project",
        user="postgres",
        password="vender2299",
        client_encoding='WIN1252')
    cur = conn.cursor()
    print("Successfully connected to PostgreSQL!")

except psycopg2.Error as e:
    print(f"Error connecting to PostgreSQL: {e}")

Successfully connected to PostgreSQL!

Using SQLAlchemy to Load Data from PostgreSQL into a Pandas DataFrame

In [2]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('postgresql://postgres:vender2299@localhost:5432/project')

query = "SELECT * FROM sellers_clean"
sellers = pd.read_sql(query, con=engine)

print(sellers.head())

                          seller_id seller_name seller_postal_code  \
0  d1b65fc7debc3361ea86b5f14c68d2e2  NeuroLabsX           DE-14469
1  51a04a8a6bdcb23deccc82b0b80742cf   SwiftLabs            DE-6108
2  e49c26c3edfa46d227d5121a6b6e4d37  EcoFutures           ES-33003
3  1b938a7ec6ac5061a66a3766e0e75f90    HyperHub            DE-6112
4  a7a9b880c49781da66651ccf4ba9ac38     EliteAI           DE-18069

     seller_city country_code seller_country
0        Potsdam           DE        Germany
1  Halle (Saale)           DE        Germany
2         Oviedo           ES          Spain
3  Halle (Saale)           DE        Germany
4        Rostock           DE        Germany

Using SQLAlchemy to Load Data from PostgreSQL into a Pandas DataFrame.

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# üîç General overview
print("üîπ Dimensions:", sellers.shape)
print("\nüîπ Columns:")
print(sellers.columns)
print("\nüîπ Data types:")
print(sellers.dtypes)
print("\nüîπ First 5 rows:")
print(sellers.head())

# üîÅ Duplicates
duplicates = sellers.duplicated()
print("\nüîÅ Duplicate rows:", duplicates.sum())
if duplicates.sum() > 0:
    print("\nüîç Showing duplicates:")
    display(sellers[duplicates])

# üßº Missing values
print("\nüîπ Missing values per column:")
print(sellers.isnull().sum())

# üìä Basic statistics
print("\nüìà Numerical statistics:")
print(sellers.describe())

# üß† Separate columns by type
num_cols = sellers.select_dtypes(include=np.number).columns
cat_cols = sellers.select_dtypes(include='object').columns

print("\nüî∏ Numerical columns:", list(num_cols))
print("üî∏ Categorical columns:", list(cat_cols))

# üéØ Unique values in categorical columns
for col in cat_cols:
    print(f"\nüé≤ {col} - Unique values:")
    print(sellers[col].value_counts())

# üì¶ Boxplots for numerical columns
for col in num_cols:
    plt.figure(figsize=(6, 4))
    sns.boxplot(x=sellers[col])
    plt.title(f'Outliers - {col}')
    plt.show()

üîπ Dimensions: (3095, 6)

üîπ Columns:
Index(['seller_id', 'seller_name', 'seller_postal_code', 'seller_city',
       'country_code', 'seller_country'],
      dtype='object')

üîπ Data types:
seller_id             object
seller_name           object
seller_postal_code    object
seller_city           object
country_code          object
seller_country        object
dtype: object

üîπ First 5 rows:
                          seller_id seller_name seller_postal_code  \
0  d1b65fc7debc3361ea86b5f14c68d2e2  NeuroLabsX           DE-14469
1  51a04a8a6bdcb23deccc82b0b80742cf   SwiftLabs            DE-6108
2  e49c26c3edfa46d227d5121a6b6e4d37  EcoFutures           ES-33003
3  1b938a7ec6ac5061a66a3766e0e75f90    HyperHub            DE-6112
4  a7a9b880c49781da66651ccf4ba9ac38     EliteAI           DE-18069

     seller_city country_code seller_country
0        Potsdam           DE        Germany
1  Halle (Saale)           DE        Germany
2         Oviedo           ES          Spain
3  Halle (Saale)           DE        Germany
4        Rostock           DE        Germany

üîÅ Duplicate rows: 0

üîπ Missing values per column:
seller_id             0
seller_name           0
seller_postal_code    0
seller_city           0
country_code          0
seller_country        0
dtype: int64

üìà Numerical statistics:
                               seller_id   seller_name seller_postal_code  \
count                               3095          3095               3095
unique                              3095          2470                682
top     08d2d642cf72b622b14dde1d2f5eb2f5  GlacierGlade           DE-10179
freq                                   1            14                149

       seller_city country_code seller_country
count         3095         3095           3095
unique         211           23             23
top         Berlin           DE        Germany
freq           694         1849           1849

üî∏ Numerical columns: []
üî∏ Categorical columns: ['seller_id', 'seller_name', 'seller_postal_code', 'seller_city', 'country_code', 'seller_country']

üé≤ seller_id - Unique values:
seller_id
08d2d642cf72b622b14dde1d2f5eb2f5    1
d1b65fc7debc3361ea86b5f14c68d2e2    1
51a04a8a6bdcb23deccc82b0b80742cf    1
e49c26c3edfa46d227d5121a6b6e4d37    1
1b938a7ec6ac5061a66a3766e0e75f90    1
                                   ..
406822777a0b9eb5c50e442dd4cd3ec5    1
2078fe5066350e7d220c0ad3a3bbc6c1    1
8bd0e3abda539b9479c4b44a691be1ec    1
2ff97219cb8622eaf3cd89b7d9c09824    1
4cf490a58259286ada5ba8525ba9e84a    1
Name: count, Length: 3095, dtype: int64

üé≤ seller_name - Unique values:
seller_name
GlacierGlade       14
VortexBloom        14
UmbralMist         14
TitaniumFlare      14
LuminaraBloom      14
                   ..
BlueLogistics       1
UltraBlueprints     1
AlphaVentures       1
NextGenPartners     1
SwiftLabs           1
Name: count, Length: 2470, dtype: int64

üé≤ seller_postal_code - Unique values:
seller_postal_code
DE-10179    149
DE-10117    148
DE-10178    135
DE-10119    135
DE-10115    127
           ...
DE-46053      1
IT-70124      1
IT-70125      1
ES-33003      1
DE-52070      1
Name: count, Length: 682, dtype: int64

üé≤ seller_city - Unique values:
seller_city
Berlin           694
Vienna           124
Halle (Saale)    119
Paris             93
Amsterdam         66
                ...
Birmingham         1
Ankara             1
Apeldoorn          1
Amadora            1
Aalst              1
Name: count, Length: 211, dtype: int64

üé≤ country_code - Unique values:
country_code
DE    1849
AT     349
NL     244
CH     190
FR     171
BE     129
IT      40
PL      30
CZ      23
GB      19
PT      13
ES       9
SK       6
TR       5
NO       5
DK       4
LT       2
HR       2
SE       1
EE       1
SI       1
FI       1
RS       1
Name: count, dtype: int64

üé≤ seller_country - Unique values:
seller_country
Germany           1849
Austria            349
Netherlands        244
Switzerland        190
France             171
Belgium            129
Italy               40
Poland              30
Czechia             23
United Kingdom      19
Portugal            13
Spain                9
Slovakia             6
Turkey               5
Norway               5
Denmark              4
Lithuania            2
Croatia              2
Sweden               1
Estonia              1
Slovenia             1
Finland              1
Serbia               1
Name: count, dtype: int64